/* body{
    font-family: "Lato";
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
} */



.search-form_field{
    background: transparent url(svg/Oval\ \(2\).svg) no-repeat left center;
    background-size: 16px;
    border-bottom: 2px solid #BFC0C5;
}

.search-form_info{
    display: flex;
    flex-wrap: wrap;
}

.intro_subtitle{
    max-width: 546px;
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 59px;
}

.intro_title{
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    margin-bottom: 22px;
}


.header {
    margin-left: 45%;
    /* justify-content: center; */
}

.family {
    display: block
}
