/* body{
    font-family: "Lato";
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
} */



.search-form_field{
    background: transparent url(svg/Oval\ \(2\).svg) no-repeat left center;
    background-size: 16px;
    border-bottom: 2px solid #BFC0C5;
}

.search-form_info{
    display: flex;
    flex-wrap: wrap;
}
